# Разработка
.idea/
__pycache__/
venv

# Папки с файлами
files_mail
result
old

# Конфиг
config.py
filter.py
for_api.py

# Запишем папки, чтоб не загружать файлы созданные при тестах
TOEast
TONorth
TOSouth
TOWest
